<html>
<head>
<title>rForum - <%= params[:controller].capitalize %> - <%= params[:action].capitalize %> </title>
<%= stylesheet_link_tag "style" %>
</head>
<body>
<div align='center'>
<div class='content'>
<div class='title-bar'>
<%= image_tag("logo.jpg") %>
</div>
<% unless flash[:notice].blank? %>
<div class='flash' id='flash'>
<%= flash[:notice] %>
</div>
<% end %>
<div class='menu-bar'>
<%= link_to "Home", forums_path %> |
<% unless logged_in? %>
<%= link_to "Login", :controller => "accounts", :action => "login" %> |
<a href='/accounts/signup'>Signup</a>
<% else %>
Logged in as <%= current_user.login %> |
 <%= link_to("Profile", :controller => "accounts", :action => "profile") %> |
 <%= link_to("Member List", :controller => "accounts", :action => "list") %> |
 <%= link_to("Logout", :controller => "accounts", :action => "logout")  %>
<% end %>
</div>
<div class='time-now'>
The time is now <%=Time.now.strftime("%d-%m-%Y %H:%M:%S") %></div><br><br>
<% if ip_banned? %>
<div class='ban-box' align='center'><br><br><h1>YOUR IP IS BANNED</h1><br><br></div>
<% elsif user_banned? %>
<div class='ban-box' align='center'><br><br><h1>YOU ARE BANNED</h1><%= @current_user.banned_by.login %> banned you and stated "<%= @current_user.ban_reason %>" as the reason. Your ban expires in <%= time_ago_in_words(@current_user.ban_time) %><br><br></div>
<% else %>
<%= yield %>
<% end %>
 <% if is_admin? %>
<div align='center'>
<%= link_to("Administration Panel", :controller => "admin", :action => "index") %>
</div>
</div>
<% end %>
</body>
</html>
