<tbody>
<tr><td><b>Title:</b></td><td>  <%= text_field("forum","title") %></td></tr>
<tr><td valign='top'><b>Description:</b></td><td><%= text_area("forum","description", :cols => 40, :rows => 5) %></td><tr>
</tbody>