<%= form_tag :action => "create" %><table cellspacing='0' cellpadding='2' width='100%' class='action-box'>
<thead><tr><td colspan='2'><h2>Creating a New Forum</h2></td></tr></thead>
<%= render :partial => "form" %>
<tfoot>
<tr><td colspan='2'><%= submit_tag("Create") %></td></tr>
</tfoot>
</table>

<% end_form_tag %>
