<%= link_to "Administration Panel", :controller => "/admin" %> -> <%= link_to "Styles", :controller => "styles" %> -> New
<h2>Editing Style</h2>
<% form_for @style, :style, :url => admin_style_path(@style) do |@f| %>
<table class='action-box' width='100%' cellspacing='0' cellpadding='5'>
  <%= render :partial => "form" %>
  <tfoot>
<tr>
<td colspan='2'><%= submit_tag "Update"%></td>
</tr>
</tfoot>
</table>
  <% end %>