body, textarea, table {
font-size:11pt;
font-family:"Trebuchet MS", sans;
letter-spacing:-1px;
}
a {
text-decoration:none;
color:#48769d;
}
h2, h3 {
margin:0px;
}
img {
border:0px;
}
.content { 
width:90%;
text-align:left;
}
.title-bar {
background:url('/images/bg.jpg');
font-size:20pt;
font-weight:bold;
border:1px solid #84afd3;
height:42px;
text-align:right;
padding-top:0px;
padding-right:0px;
}
.flash {
background:#a4d5ff;
padding:5px;
margin-top:2px;
font-size:16pt;
font-weight:bold;
border:2px solid #84afd3;
text-align:center;
}
.menu-bar {
margin:5px;
float:left;
}
.time-now {
float:right;
}
.forums h1 {
padding:0px;
margin:0px;
font-size:16pt;
}
.forums, .forum, .info-box {
border:1px solid #84afd3;
}
.forums td, .forum td {
padding:5px;
}
.forums thead, .forum thead, .info-box thead {
background:url('/images/thead-bg.jpg') repeat-x #e5f3ff;
font-weight:bold;
}

.forum {
margin-top:2px;
}
.posts, .action-box {
margin:2px;
border:1px solid #84afd3;
}
.posts thead, .posts tfoot, .action-box thead, .action-box tfoot {
font-weight:bold;
background:url('/images/thead-bg.jpg') repeat-x #e1f1ff;
}
 .posts tbody, .action-box tbody {
background:#e1f1ff;
}
.posts h1 {
margin:0px;
padding:0px;
}
.quote {
width:90%;
background:#a4d5ff;
border:1px solid #84afd3;
text-align:left;
padding:5px;
}
.term {
	font-weight:bold;
	font-family:monospace, "Courier New";
}

.admin-section {
border:1px solid #84afd3;
}
.admin-section-title {
background:#c1e2fe;
padding:2px;
font-size:16pt;
}
.admin-section-sub-title {
font-size:12pt;
font-weight:bold;
background:#48769d;
color:white;
padding:2px;
}
.admin-section-sub-box {
padding:2px;
background:#dbeefd;
}
.forum tfoot {
background:#c1e2fe;
}
.forum tfoot input {
border:1px solid #48769d;
margin:2px;
background:#dbeefd;
font-size:10pt;
letter-spacing:-1px;
}
.ban-box {
background:#de0000;
border:10px solid red;
color:white;
font-size:48pt;
}
.ban-box h1 {
margin:0px;
padding:0px;
}
.fieldWithErrors input, .fieldWithErrors textarea {
border:3px solid red;
}
.not-working {
background:#de0000;
color:white;
border:1px solid #780000;
text-align:center;
padding:5px;
font-size:18pt;
font-weight:bold;
}